*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  min-height: 100dvh;
  height: fit-content;
}

body {
  font-family: DMSans, sans-serif;
  background: var(--gradient-light);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-neutral-900);
  background-position: center;
}

html.dark {
  body {
    background: var(--gradient-dark);
  }
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body:has(dialog[open]) {
  overflow: hidden;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
